* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 60px;
    text-align: center;
    animation: fadeIn 1s ease;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.card {
    background: #1e293b;
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 150px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

button {
    background: #38bdf8;
    border: none;
    padding: 8px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.dark {
    background: white;
    color: black;
}
